<template>
<div>
    <rule-edit
        :active.sync="ruleEditOpen"
        :rule="editableRule"
        @update="updateRule"
        @create="createRule"
        @delete="deleteRule"
    ></rule-edit>

    <div class="content">
        <h5 class="title is-5">
            <a class="button is-primary is-outlined is-pulled-right" @click="addRule" id="btn_rule_add">
                <b-icon pack="mdi" icon="add"></b-icon>
                <span>Добавить</span>
            </a>
            <b-icon pack="fa" icon="th-list" size="is-small"></b-icon>
            Настройки правил:
        </h5>

        <b-field grouped>
            <b-field>
                <b-input
                    id="input_rule_atm_search"
                    v-model="search"
                    placeholder="Серийный номер"
                    type="search"
                    icon="search"
                    class="is-expanded"
                    @keyup.native="searchRules"
                ></b-input>
                <p class="control">
                    <button class="button is-primary" @click="searchRules" id="btn_rule_atm_search">Найти</button>
                </p>
            </b-field>
            <b-field>
                <b-switch v-model="mineOnly" @input="onMineOnly" size="is-medium" :disabled="!$root.sessionMan.currentUser">Только мои</b-switch>
            </b-field>
        </b-field>

        <b-table
            :loading="isLoading"
            :data="rules"
            paginated
            backend-pagination
            :total="pagination.total"
            :per-page="pagination.per_page"
            @page-change="onPageChange"
        >
            <template scope="props">
                <b-table-column width="150" custom-key="serial_number">
                    {{ props.row.atm.sn }}
                    <br>
                    {{ props.row.comment }}
                </b-table-column>
                <b-table-column custom-key="platform_env">
                    <span class="has-text-weight-bold">{{ props.row.platform.name | upcase }}</span> / {{ props.row.env.name }}
                </b-table-column>
                <b-table-column label="Клиент">
                    <build-pill component="client" :build="props.row.client" :no_build="props.row.no_client"></build-pill>
                </b-table-column>
                <b-table-column label="Утилита">
                    <build-pill component="util" :build="props.row.util" :no_build="props.row.no_util"></build-pill>
                </b-table-column>
                <b-table-column label="Прошивка">
                    <build-pill component="firmware" :build="props.row.firmware" :no_build="props.row.no_firmware"></build-pill>
                </b-table-column>
                <b-table-column width="1" custom-key="action-edit">
                    <a href="#" class="button is-primary is-small is-inverted" @click.prevent="editRule(props.row)">
                        <b-icon pack="fa" icon="pencil-square-o"></b-icon>
                    </a>
                </b-table-column>
                <b-table-column width="1" custom-key="action-show">
                    <router-link :to="'/face/strategy/atm/rule/'+props.row.id" class="button is-primary is-small is-inverted">
                        <b-icon pack="fa" icon="eye"></b-icon>
                    </router-link>
                </b-table-column>
            </template>
        </b-table>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import ruleEdit from './rule_edit.vue';
import buildPill from '../build/pill.vue';

export default {
    $validates: true,
    components: {
        ruleEdit,
        buildPill,
    },
    data() {
        return {
            isLoading: false,
            rules: [],
            ruleEditOpen: false,
            editableRule: {},
            search: null,
            mineOnly: false,
            pagination: {
                per_page: 500,
                current: 1,
                total: 100,
            },
        }
    },
    mounted() {
        this.parseQuery();
        this.loadRules();
    },
    watch: {
        '$route': function () {
            this.parseQuery();
            this.loadRules();
        }
    },
    methods: {
        loadRules() {
            this.isLoading = true;
            Vue.axios.get("/face/api/rule_atm", {
               params: this.mergeQuery({
                   page: this.pagination.current,
                   per_page: this.pagination.per_page,
                   q: this.search,
                   my: this.mineOnly,
               })
            })
            .then(resp => {
                this.pagination = resp.data.pagination;
                this.rules = resp.data.data;
                this.isLoading = false;
            })
            .catch(err => {
                this.$toast.open({
                    message: "Не удалось загрузить правила",
                    type: 'is-danger'
                });
            });
        },
        editRule(rule) {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.editableRule = rule;
            this.ruleEditOpen = true;
        },
        addRule() {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.editableRule = {atm: {}};
            this.ruleEditOpen = true;
        },
        updateRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            Vue.set(this.rules, idx, rule);
        },
        createRule(rule) {
            this.rules = [rule].concat(this.rules);
        },
        deleteRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            this.rules.splice(idx, 1);
        },
        searchRules() {
            this.$router.push({ query: this.mergeQuery({ q: this.search })});
        },
        onPageChange(page) {
            this.$router.push({ query: this.mergeQuery({ page: page })});
        },
        parseQuery() {
            this.pagination.current = this.$route.query.page || 1;
            this.search = this.$route.query.q || "";
        },
        onMineOnly() {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }
            this.loadRules();
        }
    }
};
</script>