<template>
    <div v-if="rule">
        <rule-edit :rule="editableRule" :active.sync="editOpen" @update="updateRule"></rule-edit>

        <h4 class="title is-4">
            <a class="button is-primary is-outlined is-pulled-right has-text-weight-normal" @click="openEdit" id="btn_rule_edit">
                <b-icon pack="fa" icon="pencil" size="is-small"></b-icon>
                <span>Изменить</span>
            </a>
            Правило для серийного номера
        </h4>
        <hr>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Серийный номер:</div>
            <div class="column">{{ rule.atm.sn }}</div>
        </div>

        <rule-fields :rule="rule"></rule-fields>
        <rule-changes :rule="rule" subject="rule_atm"></rule-changes>
    </div>
</template>

<script>
    import Vue from 'vue';
    import RuleEdit from './rule_edit.vue';
    import RuleFields from '../rule/fields.vue';
    import RuleChanges from '../rule/changes.vue';

    export default {
        components: {
            RuleEdit,
            RuleFields,
            RuleChanges,
        },
        props: ["rule_id"],
        data() {
            return {
                rule: null,
                editOpen: false,
                editableRule: {},
            }
        },
        mounted() {
            this.loadRule();
        },
        methods: {
            openEdit() {
                if (this.signIn()) {
                    return;
                }

                this.editOpen = true;
                this.editableRule = this.rule;
            },
            loadRule() {
                Vue.axios.get(`/face/api/rule_atm/${ this.rule_id }`)
                    .then(resp => this.rule = resp.data.data)
                    .catch(err => this.notifyError(err, "Не удалось загрузить правило."));
            },
            updateRule(rule) {
                this.rule = rule;
            },
        },
    };
</script>