<template>
<div>
    <rule-edit
        :active.sync="ruleEditOpen"
        :rule="editableRule"
        @update="updateRule"
        @create="createRule"
        @delete="deleteRule"
    ></rule-edit>

    <div class="content">
        <h5 class="subtitle is-5">
            <a class="button is-primary is-outlined is-pulled-right" @click="addRule" id="btn_rule_add">
                <b-icon pack="mdi" icon="add"></b-icon>
                <span>Добавить</span>
            </a>
            <b-icon pack="fa" icon="th-list" size="is-small"></b-icon>
            Настройки правил:
        </h5>

        <b-table :data="rules" :loading="isLoading">
            <template scope="props">
                <b-table-column label="Платформа">
                    <span class="has-text-weight-bold">
                        {{ props.row.platform.name | upcase }}
                    </span>
                </b-table-column>
                <b-table-column label="Окружение">
                    {{ props.row.env.name }}
                </b-table-column>
                <b-table-column label="Клиент">
                    <build-pill component="client" :build="props.row.client" :no_build="props.row.no_client"></build-pill>
                </b-table-column>
                <b-table-column label="Утилита">
                    <build-pill component="util" :build="props.row.util" :no_build="props.row.no_util"></build-pill>
                </b-table-column>
                <b-table-column label="Прошивка">
                    <build-pill component="firmware" :build="props.row.firmware" :no_build="props.row.no_firmware"></build-pill>
                </b-table-column>
                <b-table-column width="1" custom-key="action-edit">
                    <a href="#" class="button is-primary is-small is-inverted" @click.prevent="editRule(props.row)">
                        <b-icon pack="fa" icon="pencil-square-o"></b-icon>
                    </a>
                </b-table-column>
                <b-table-column width="1" custom-key="action-show">
                    <router-link :to="'/face/strategy/release/rule/'+props.row.id" class="button is-primary is-small is-inverted">
                        <b-icon pack="fa" icon="eye"></b-icon>
                    </router-link>
                </b-table-column>
            </template>
        </b-table>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import ruleEdit from './rule_edit.vue';
import buildPill from '../build/pill.vue';

export default {
    $validates: true,
    components: {
        ruleEdit,
        buildPill,
    },
    data() {
        return {
            isLoading: false,
            rules: [],
            ruleEditOpen: false,
            editableRule: {},
            search: null,
            pagination: {
                per_page: 100,
                current: 1,
                total: 100,
            },
        }
    },
    mounted() {
        this.loadRules();
    },
    methods: {
        loadRules() {
            this.isLoading = true;
            Vue.axios.get("/face/api/rule_release")
                .then(resp => {
                    this.rules = resp.data.data.sort((a,b) => {
                        return a.platform.name == b.platform.name ? (a.env.name < b.env.name ? -1 : 1) : (a.platform.name < b.platform.name ? -1 : 1);
                    });
                    this.isLoading = false;
                })
                .catch(err => this.notifyError(err, "Не удалось загрузить правила"))
        },
        editRule(rule) {
            if (this.signIn()) {
                return;
            }

            this.editableRule = rule;
            this.ruleEditOpen = true;
        },
        addRule() {
            if (this.signIn()) {
                return;
            }

            this.editableRule = {atm: {}};
            this.ruleEditOpen = true;
        },
        updateRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            Vue.set(this.rules, idx, rule);
        },
        createRule(rule) {
            this.rules = [rule].concat(this.rules);
        },
        deleteRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            this.rules.splice(idx, 1);
        },
    }
};
</script>