<template>
<b-modal :active.sync="modalActive" has-modal-card canCancel>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                {{ rule.id ? 'Редактирование правила' : 'Создание правила' }}
            </p>
        </header>
        <section class="modal-card-body">
            <rule-form :form.sync="form" :no_current="true"></rule-form>
        </section>
        <footer class="modal-card-foot is-block">
            <button class="button" @click="modalActive=false" id="btn_rule_edit_close">Закрыть</button>

            <b-tooltip
                label="Только администратор может удалить релиз."
                :active="!canDelete()"
                type="is-danger"
            >
                <button class="button is-danger is-outlined" :disabled="!canDelete()" @click="deleteRule(form)" v-if="rule.id" id="btn_rule_delete">
                    <b-icon pack="fa" icon="trash-o"></b-icon>
                    <span>Удалить</span>
                </button>
            </b-tooltip>

            <button class="button is-primary is-pulled-right" @click="saveRule(form)" :disabled="errors.any()" id="btn_rule_save">
                Сохранить
            </button>
        </footer>
    </div>
</b-modal>
</template>

<script>
import Vue from 'vue';
import ruleForm from '../rule/form.vue';

export default {
    props: ["active", "rule"],
    inject: {
        $validator: '$validator'
    },
    components: {
        ruleForm,
    },
    data() {
        return {
            modalActive: false,
            form: {},
        }
    },
    watch: {
        active(val) {
            this.modalActive = val;
        },
        modalActive(val) {
            this.$emit("update:active", val);
        },
        rule(val) {
            this.form = Object.assign({}, val);
        },
    },
    methods: {
        saveRule(form) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    if (form.id) {
                        this.updateRule(form);
                    } else {
                        this.createRule(form);
                    }
                    return;
                }
            });
        },
        updateRule(form) {
            Vue.axios.post(`/face/api/rule_release/${ form.id }`, form)
                .then(resp => {
                    this.$emit('update', resp.data.data);
                    this.modalActive = false;
                    this.$toast.open({
                        message: "Правило обновлено",
                        type: 'is-success'
                    });
                }).catch(error => {
                    error.response.data.errors.forEach(err => {
                        this.$validator.errors.add(err);
                    });
                });
        },
        createRule(form) {
            Vue.axios.post(`/face/api/rule_release`, form)
                .then(resp => {
                    this.$emit('create', resp.data.data);
                    this.modalActive = false;
                    this.$toast.open({
                        message: "Правило создано",
                        type: 'is-success'
                    });
                }).catch(error => {
                    error.response.data.errors.forEach(err => {
                        this.$validator.errors.add(err);
                    });
                });
        },
        deleteRule(form) {
            if (!confirm("Вы уверены что хотите удалить правило?")) {
                return
            }

            Vue.axios.delete(`/face/api/rule_release/${form.id}`)
                .then(resp => {
                    this.$emit('delete', form);
                    this.modalActive = false;
                    this.$toast.open({
                        message: "Правило удалено",
                        type: 'is-success'
                    });
                }).catch(err => {
                    this.$toast.open({
                        message: "Не удалось удалить правило",
                        type: 'is-danger'
                    });
                });
        },
        canDelete() {
            return this.currentUser() && this.currentUser().role === 2;
        },
    }
};
</script>