<template>
<div v-if="rule">
    <rule-edit :rule="editableRule" :active.sync="editOpen" @update="updateRule"></rule-edit>

    <h4 class="title is-4">
        <a class="button is-primary is-outlined is-pulled-right has-text-weight-normal" @click="openEdit" id="btn_rule_edit">
            <b-icon pack="fa" icon="pencil" size="is-small"></b-icon>
            <span>Изменить</span>
        </a>
        Релиз
    </h4>
    <hr>

    <rule-fields :rule="rule"></rule-fields>
    <rule-changes :rule="rule" subject="rule_release"></rule-changes>
</div>
</template>

<script>
import Vue from 'vue';
import ruleEdit from './rule_edit.vue';
import RuleFields from '../rule/fields.vue';
import RuleChanges from '../rule/changes.vue';

export default {
    components: {
        RuleFields,
        RuleChanges,
        ruleEdit,
    },
    props: ["rule_id"],
    data() {
        return {
            rule: null,
            actionLogs: [],
            editOpen: false,
            editableRule: {},
        }
    },
    mounted() {
        this.loadRule();
    },
    methods: {
        openEdit() {
            if (this.signIn()) {
                return;
            }

            this.editOpen = true;
            this.editableRule = this.rule;
        },
        loadRule(){
            Vue.axios.get(`/face/api/rule_release/${ this.rule_id }`)
                .then(resp => {
                    this.rule = resp.data.data;
                }).catch(err => {
                    console.log("Error: ", err);
                    this.$toast.open({
                        message: "Не удалось загрузить правило",
                        type: 'is-danger'
                    });
                });
        },
        updateRule() {
            this.loadRule();
            this.loadActionLogs();
        },
    }
};
</script>