<template>
    <nav class="navbar has-shadow is-light">
        <div class="container">
        <div class="navbar-tabs">
            <router-link class="navbar-item is-tab" active-class="is-active" to="/face/component/build">Сборки</router-link>
        </div>
        </div>
    </nav>
</template>