<template>
    <div v-if="action_type == 'delete'">
        <b-tag
                style="font-size: .90rem;"
                v-if="component == 'client'"
                type="is-danger"
                class="has-text-weight-semibold"
        >
            Правило удалено
        </b-tag>
    </div>
    <build-pill
        v-else-if="build != null || no_build != null"
        :build="build"
        :no_build="no_build"
    >
    </build-pill>
</template>

<script>
    import buildPill from '../build/pill.vue';

    export default {
        components: {
            buildPill,
        },
        props: ['build', 'no_build', 'action_type', 'component'],
    }
</script>