<template>
    <div class="columns">
        <div class="column is-1 has-text-right has-text-weight-semibold">Изменения:</div>
        <div class="column is-11">
            <b-table
                    :loading="isLoading"
                    :data="actionLogs"
                    :paginated="true"
                    :per-page="20"
                    :pagination-simple="true"
            >
                <template slot-scope="props">
                    <b-table-column label="Автор">
                        <strong>{{ props.row.author.login }}</strong> ({{ props.row.author_ip }})
                    </b-table-column>
                    <b-table-column label="Клиент">
                        <log-pill
                                :build="props.row.package_changes.client"
                                :no_build="props.row.package_changes.no_client"
                                :action_type="props.row.action_type"
                                component="client"
                        ></log-pill>
                    </b-table-column>
                    <b-table-column label="Утилита">
                        <log-pill
                                :build="props.row.package_changes.util"
                                :no_build="props.row.package_changes.no_util"
                                :action_type="props.row.action_type"
                                component="util"
                        ></log-pill>
                    </b-table-column>
                    <b-table-column label="Прошивка">
                        <log-pill
                                :build="props.row.package_changes.firmware"
                                :no_build="props.row.package_changes.no_firmware"
                                :action_type="props.row.action_type"
                                component="firmware"
                        ></log-pill>
                    </b-table-column>
                    <b-table-column label="Дата">
                        {{ props.row.CreatedAt | date }}
                    </b-table-column>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import LogPill from '../action_log/pill.vue';

    export default {
        props: ["rule", "subject"],
        components: {
            LogPill,
        },
        data(){
            return {
                isLoading: false,
                actionLogs: [],
            }
        },
        watch: {
            rule() {
                this.loadActionLogs();
            },
        },
        mounted() {
            this.loadActionLogs();
        },
        methods: {
            loadActionLogs() {
                this.isLoading = true;
                Vue.axios.get(`/face/api/action_log`, { params: { subject: this.subject, id: this.rule.id }})
                    .then(resp => {
                        this.actionLogs = resp.data.data;
                        this.isLoading = false;
                    })
                    .catch(err => console.log("Error: ", err));
            },
        },
    }
</script>