<template>
    <div>
        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Платформа:</div>
            <div class="column has-text-weight-semibold">{{ rule.platform.name | upcase }}</div>
        </div>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Окружение:</div>
            <div class="column">{{ rule.env.name }}</div>
        </div>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Клиент:</div>
            <div class="column"><build-pill :build="rule.client" :no_build="rule.no_client"></build-pill></div>
        </div>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Утилита:</div>
            <div class="column"><build-pill :build="rule.util" :no_build="rule.no_util"></build-pill></div>
        </div>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Прошивка:</div>
            <div class="column"><build-pill :build="rule.firmware" :no_build="rule.no_firmware"></build-pill></div>
        </div>

        <div class="columns">
            <div class="column is-1 has-text-right has-text-weight-semibold">Комментарий:</div>
            <div class="column is-3 content">
                <blockquote v-if="rule.comment">{{ rule.comment }}</blockquote>
            </div>
        </div>
    </div>
</template>

<script>
    import BuildPill from '../build/pill.vue';

    export default {
        props: ["rule"],
        components: {
            BuildPill,
        },
    }
</script>