<template>
<div>
    <b-field label="Платформа" :type="errors.has('platform_id') ? 'is-danger' : ''" :message="errors.first('platform_id')">
        <b-select
            id="select_rule_platform_id"
            :disabled="form.id || platform_disabled"
            v-validate="'required'"
            name="platform_id"
            v-model="form.platform_id"
            placeholder="Выберите платформу"
            @input="resetBuilds"
        >
            <option
                v-for="platform in platforms"
                :value="platform.id"
                :key="platform.id"
            >
                {{ platform.name }}
            </option>
        </b-select>
    </b-field>
    <b-field label="Окружение" :type="errors.has('env_id') ? 'is-danger' : ''" :message="errors.first('env_id')">
        <b-select
            id="select_rule_env_id"
            v-validate="'required'"
            name="env_id"
            v-model="form.env_id"
            placeholder="Выберите окружение"
            @input="resetBuilds"
            :disabled="form.id"
        >
            <option
                v-for="env in envs"
                :value="env.id"
                :key="env.id"
            >
                {{ env.name }}
            </option>
        </b-select>
    </b-field>
    <slot name="after_env"></slot>
    <b-field label="Клиент">
        <b-checkbox v-model="form.no_client" id="check_rule_no_client">Не обновлять</b-checkbox>
    </b-field>
    <b-field v-if="!form.no_client" :type="errors.has('client_id') ? 'is-danger' : ''" :message="errors.first('client_id')">
        <b-select
            v-model="form.client_id"
            v-if="!form.no_client"
            id="select_rule_client_id"
            name="client_id"
            v-validate="no_current ? 'required' : ''"
            :placeholder="no_current ? 'Выберите версию клиента' : null"
        >
            <option
                v-for="build in clients"
                :value="build.id"
                :key="build.id"
            >
                {{ buildLabel(build) }}
            </option>
        </b-select>
    </b-field>
    <b-field label="Утилита">
        <b-checkbox v-model="form.no_util" id="check_rule_no_util">Не обновлять</b-checkbox>
    </b-field>
    <b-field v-if="!form.no_util" :type="errors.has('util_id') ? 'is-danger' : ''" :message="errors.first('util_id')">
        <b-select
            v-model="form.util_id"
            v-if="!form.no_util"
            id="select_rule_util_id"
            name="util_id"
            v-validate="no_current ? 'required' : ''"
            :placeholder="no_current ? 'Выберите версию утилит' : null"
        >
            <option
                v-for="build in utils"
                :value="build.id"
                :key="build.id"
            >
                {{ buildLabel(build) }}
            </option>
        </b-select>
    </b-field>
    <b-field label="Прошивка">
        <b-checkbox v-model="form.no_firmware" id="check_rule_no_firmware">Не обновлять</b-checkbox>
    </b-field>
    <b-field v-if="!form.no_firmware" :type="errors.has('firmware_id') ? 'is-danger' : ''" :message="errors.first('firmware_id')">
        <b-select
            v-model="form.firmware_id"
            v-if="!form.no_firmware"
            id="select_rule_firmware_id"
            name="firmware_id"
            v-validate="no_current ? 'required' : ''"
            :placeholder="no_current ? 'Выберите версию прошивки' : null"
        >
            <option
                v-for="build in firmwares"
                :value="build.id"
                :key="build.id"
        >
                {{ buildLabel(build) }}
            </option>
        </b-select>
    </b-field>
    <b-field label="Комментарий">
        <b-input maxlength="200" type="textarea" v-model="form.comment" id="input_rule_comment"></b-input>
    </b-field>
</div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';

export default {
    props: ["form", "model_id", "no_current", "platform_disabled"],
    components: {
        Multiselect,
    },
    inject: {
        $validator: '$validator'
    },
    data() {
        return {
            platforms: [],
            envs: [],
            clients: [],
            utils: [],
            firmwares: [],
        }
    },
    mounted() {
        this.loadPlatforms();
        this.loadEnvs();
        this.loadBuilds();
    },
    methods: {
        loadPlatforms(){
            if(this.platforms.length == 0) {
                Vue.axios.get("/face/api/platforms")
                    .then(resp => {
                        this.platforms = resp.data;
                    })
            }
        },
        loadEnvs(){
            if(this.envs.length == 0) {
                Vue.axios.get("/face/api/envs")
                    .then(resp => {
                        this.envs = resp.data;
                    })
            }
        },
        loadBuilds() {
            if (!this.form.platform_id || !this.form.env_id) {
                return
            }

            this.loadComponentBuilds("client");
            this.loadComponentBuilds("util");
            this.loadComponentBuilds("firmware");
        },
        loadComponentBuilds(component) {
            Vue.axios.get("/face/api/builds", { params: { component: component, env_id: this.form.env_id, platform_id: this.form.platform_id, model_id: this.model_id }})
                .then(resp => {
                    var builds = [];
                    if (!this.no_current) {
                        builds = [{component: component, id: null, version: "Текущая версия", force_downgrade: false}];
                    }

                    builds = builds.concat(resp.data.data);
                    switch(component) {
                        case "client":
                            this.clients = builds;
                            break;
                        case "util":
                            this.utils = builds;
                            break;
                        case "firmware":
                            this.firmwares = builds;
                            break;
                    }
                })
        },
        resetBuilds() {
            this.loadBuilds();
            this.clearClientSelect();
            this.clearUtilSelect();
            this.clearFirmwareSelect();
        },
        buildLabel(b){
            return `${ b.version }${ b.force_downgrade ? ' ⚠️' : '' }`
        },
        clearClientSelect() {
            this.form.client = this.form.client_id = null;
        },
        clearUtilSelect() {
            this.form.util = this.form.util_id = null;
        },
        clearFirmwareSelect() {
            this.form.firmware = this.form.firmware_id = null;
        },
    }
};
</script>