<template>
<nav class="navbar has-shadow is-light">
  <div class="container">
    <div class="navbar-tabs">
      <router-link class="navbar-item is-tab" active-class="is-active" to="/face/strategy/release">Релиз</router-link>
      <router-link class="navbar-item is-tab" active-class="is-active" to="/face/strategy/network">Подсеть</router-link>
      <router-link class="navbar-item is-tab" active-class="is-active" to="/face/strategy/atm">Серийный номер</router-link>
    </div>
  </div>
</nav>
</template>