<template>
<div class="columns">
    <network-edit
        :active.sync="networkEditOpen"
        :network="currentNetwork"
        @save="networkUpdated"
        @delete="deleteNetwork"
        :rules_count="rules.length"
    ></network-edit>
    <rule-edit
        :active.sync="ruleEditOpen"
        :rule="editableRule"
        @update="updateRule"
        @create="createRule"
        @delete="deleteRule"
    ></rule-edit>

    <div class="column">
        <div class="box" v-if="currentNetwork.id">
            <a class="button is-primary is-outlined is-pulled-right" @click="editNetwork">
                <span>Изменить</span>
            </a>
            <h4 class="title is-4 is-spaced" >{{ currentNetwork.addr }}</h4>
            <p class="is-size-5" v-if="currentNetwork.description">{{ currentNetwork.description }}</p>
        </div>

        <h5 class="subtitle is-5">
            <a class="button is-primary is-outlined is-pulled-right" @click="addRule" v-if="currentNetwork.id">
                <b-icon pack="mdi" icon="add"></b-icon>
                <span>Добавить</span>
            </a>
            <b-icon pack="fa" icon="th-list" size="is-small"></b-icon>
            Настройки правил:
        </h5>

        <b-table :data="rules">
            <template scope="props">
                <b-table-column custom-key="platform_env">
                    <span class="has-text-weight-bold">{{ props.row.platform.name | upcase }}</span> / {{ props.row.env.name }}
                </b-table-column>
                <b-table-column label="Клиент">
                    <build-pill component="client" :build="props.row.client" :no_build="props.row.no_client"></build-pill>
                </b-table-column>
                <b-table-column label="Утилита">
                    <build-pill component="util" :build="props.row.util" :no_build="props.row.no_util"></build-pill>
                </b-table-column>
                <b-table-column label="Прошивка">
                    <build-pill component="firmware" :build="props.row.firmware" :no_build="props.row.no_firmware"></build-pill>
                </b-table-column>
                <b-table-column width="1" custom-key="action-edit">
                    <a href="#" class="button is-primary is-small is-inverted" @click.prevent="editRule(props.row)">
                        <b-icon pack="fa" icon="pencil-square-o "></b-icon>
                    </a>
                </b-table-column>
                <b-table-column width="1" custom-key="action-show">
                    <router-link :to="'/face/strategy/network/rule/'+props.row.id" class="button is-primary is-small is-inverted">
                        <b-icon pack="fa" icon="eye"></b-icon>
                    </router-link>
                </b-table-column>
            </template>
        </b-table>
    </div>
    <div class="column is-3">
        <networks-panel :current="currentNetwork" :networks="networks"></networks-panel>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import networkEdit from './network_edit.vue';
import networksPanel from './panel.vue';
import ruleEdit from './rule_edit.vue';
import buildPill from '../build/pill.vue';

export default {
    $validates: true,
    props: ["network_id"],
    components: {
        networkEdit,
        networksPanel,
        ruleEdit,
        buildPill,
    },
    data() {
        return {
            networks: [],
            currentNetwork: {},
            rules: [],
            networkEditOpen: false,
            ruleEditOpen: false,
            editableRule: {}
        }
    },
    mounted() {
        this.loadNetworks();
    },
    watch: {
        '$route': function () {
            this.loadNetworks();
        },
        currentNetwork() {
            this.loadRules();
        }
    },
    methods: {
        loadNetworks() {
            Vue.axios.get("/face/api/network")
                .then(resp => {
                    this.networks = resp.data.data;
                    if(this.networks.length == 0) {
                        return;
                    }

                    if(this.network_id) {
                        this.currentNetwork = this.networks.find(i => i.id == this.network_id);
                    } else {
                        this.currentNetwork = resp.data.data[0];
                    }
                })
                .catch(err => {
                    this.$toast.open({
                        message: "Не удалось загрузить подсети",
                        type: 'is-danger'
                    });
                });
        },
        loadRules() {
            Vue.axios.get(`/face/api/rule_network?network_id=${this.currentNetwork.id}`)
                .then((resp) => {
                    this.rules = resp.data.data.sort((a,b) => {
                        return a.platform.name == b.platform.name ? (a.env.name < b.env.name ? -1 : 1) : (a.platform.name < b.platform.name ? -1 : 1);
                    });
                }).catch(err => {
                    this.$toast.open({
                        message: "Не удалось загрузить правила группы",
                        type: 'is-danger'
                    });
                });
        },
        networkUpdated(network) {
            this.networkEditOpen = false;
            this.currentNetwork = network;
            var idx = this.networks.findIndex(i => i.id == network.id);
            Vue.set(this.networks, idx, network);
            this.$toast.open({
                message: "Модель обновлена",
                type: 'is-success'
            });
        },
        editNetwork() {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.networkEditOpen = true;
        },
        deleteNetwork(network) {
            if(!confirm(`Вы уверены, что хотите навсегда удалить подсеть "${ network.addr }"`)) {
                return
            }

            Vue.axios.delete(`/face/api/network/${ network.id }`)
                .then(resp => {
                    this.$toast.open({
                        message: "Подсеть удалена",
                        type: 'is-success'
                    });

                    this.networkEditOpen = false;

                    if(this.network_id) {
                        this.$router.push({ path: `/face/strategy/network`});
                    } else {
                        this.network_id = null;
                        this.loadNetworks();
                    }
                })
                .catch(error => {
                    this.$toast.open({
                        message: "Не удалось удалить подсеть",
                        type: 'is-danger'
                    });
                });
        },
        editRule(rule) {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.editableRule = rule;
            this.ruleEditOpen = true;
        },
        addRule(rule) {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.editableRule = {
                network_id: this.currentNetwork.id,
                platform_id: this.currentNetwork.platform_id,
            };
            this.ruleEditOpen = true;
        },
        updateRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            Vue.set(this.rules, idx, rule);
        },
        createRule(rule) {
            this.rules = [rule].concat(this.rules);
        },
        deleteRule(rule) {
            var idx = this.rules.findIndex(i => i.id == rule.id);
            this.rules.splice(idx, 1);
        },
    }
};
</script>