<template>
<b-modal :active.sync="modalActive" has-modal-card canCancel>
    <div class="modal-card is-small" style="overflow: visible;">
        <header class="modal-card-head">
            <p class="modal-card-title">
                {{ form.id ? 'Редактирование подсети' : 'Создание подсети' }}
            </p>
        </header>
        <section class="modal-card-body">
            <b-field label="Адрес" :type="errors.has('addr') ? 'is-danger' : ''" :message="errors.first('addr')">
                <b-input
                    placeholder="Пример: 192.168.1.0/24"
                    v-validate="'required'"
                    v-model.trim="form.addr"
                    name="addr"
                    @keyup.native.enter="saveNetwork"
                ></b-input>
            </b-field>
            <b-field label="Описание">
                <b-input v-model.trim="form.description" @keyup.native.enter="saveNetwork"></b-input>
            </b-field>
        </section>
        <footer class="modal-card-foot is-block">
            <button class="button" @click="modalActive=false" id="btn_network_edit_close">Закрыть</button>
            <b-tooltip
                label="Нельзя удалить подсеть с активными правилами! Удалите все правила, чтобы удалить подсеть."
                :active="rules_count > 0"
                type="is-danger"
            >
                <button class="button is-danger is-outlined" @click="$emit('delete', network)" v-if="network.id" :disabled="rules_count > 0" id="btn_network_delete">
                    <b-icon pack="fa" icon="trash-o"></b-icon>
                    <span>Удалить</span>
                </button>
            </b-tooltip>
            <button class="button is-primary is-pulled-right" @click="saveNetwork" :disabled="errors.any()" id="btn_network_save">
                Сохранить
            </button>
        </footer>
    </div>
</b-modal>
</template>

<script>
import Vue from 'vue';

export default {
    $validates: true,
    props: ["active", "network", "rules_count"],
    data: function () {
        return {
            modalActive: false,
            platforms: [],
            form: {},
        }
    },
    watch: {
        modalActive(val) {
            this.$emit("update:active", val);
        },
        active(val) {
            this.modalActive = val
        },
        network(val) {
            this.form = {
                id: val.id,
                description: val.description,
                addr: val.addr,
            }
        }
    },
    methods: {
        saveNetwork() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.sendRequest();
                }
            });
        },
        sendRequest(){
            var post = (url) => {
                Vue.axios.post(url, this.form)
                    .then(resp => {
                        this.$emit('save', resp.data.data);
                    })
                    .catch(error => {
                        error.response.data.errors.forEach(err => {
                            this.errors.add(err);
                        });
                    });
            };

            var url = "/face/api/network";
            if (this.form.id) {
                post(url + `/${this.form.id}`);
            } else {
                post(url);
            }
        }
    },
};
</script>