<template>
<nav class="panel">
    <p class="panel-heading">Подсети</p>
    <router-link
        class="panel-block"
        style="display: block"
        :class="{'is-active': network.id==current.id}"
        active-class="is-active"
        v-for="network in networks"
        :key="network.id"
        :to="'/face/strategy/network/'+network.id"
    >
        <p class="is-size-5">{{ network.addr }}</p>
        <p>{{ network.description }}</p>
    </router-link>

    <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth" @click="modalOpen">
            <b-icon pack="mdi" icon="add"></b-icon>
            <span>Добавить</span>
        </button>
    </div>
    <network-edit :network="{}" :active.sync="modalActive" @save="networkCreated"></network-edit>
</nav>
</template>

<script>
import networkEdit from './network_edit.vue';

export default {
    props: ["current", "networks"],
    components: {
        networkEdit,
    },
    data: function () {
        return {
            modalActive: false,
        }
    },
    methods: {
        modalOpen() {
            if (this.$root.sessionMan.openSignIn()) {
                return;
            }

            this.modalActive = true;
        },
        networkCreated(network) {
            this.networks.push(network);
            this.modalActive = false;
            this.$toast.open({
                message: "Подсеть создана",
                type: 'is-success'
            });

            this.$router.push({ path: `/face/strategy/network/${network.id}`});
        }
    }
};
</script>