<template>
<b-modal :active.sync="modalActive" has-modal-card canCancel>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                {{ rule.id ? 'Редактирование правила' : 'Создание правила' }}
            </p>
        </header>
        <section class="modal-card-body">
            <rule-form :form.sync="form"></rule-form>
        </section>
        <footer class="modal-card-foot is-block">
            <button class="button" @click="modalActive=false" id="btn_rule_edit_close">Закрыть</button>
            <button class="button is-danger is-outlined" @click="deleteRule(form)" v-if="rule.id" id="btn_rule_delete">
                <b-icon pack="fa" icon="trash-o"></b-icon>
                <span>Удалить</span>
            </button>
            <button class="button is-primary is-pulled-right" @click="saveRule(form)" :disabled="errors.any()" id="btn_rule_save">
                Сохранить
            </button>
        </footer>
    </div>
</b-modal>
</template>

<script>
import axios from 'axios';
import ruleForm from '../rule/form.vue';
import Multiselect from 'vue-multiselect';

export default {
    inject: {
        $validator: '$validator'
    },
    components: {
        ruleForm,
        Multiselect,
    },
    props: ["active", "rule"],
    data() {
        return {
            modalActive: false,
            form: {},
            forceEnvs: [],
        }
    },
    watch: {
        active: function (val) {
            this.modalActive = val;
        },
        modalActive: function (val) {
            this.$emit("update:active", val);
        },
        rule(val) {
            this.form = Object.assign({}, val);
        },
    },
    methods: {
        saveRule(form) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    if (form.id) {
                        this.updateRule(form);
                    } else {
                        this.createRule(form);
                    }
                    return;
                }
            });
        },
        updateRule(form) {
            axios.post(`/face/api/rule_network/${ form.id }`, form)
                .then(resp => {
                    this.$emit('update', resp.data.data);
                    this.modalActive = false;
                    this.notifySuccess("Правило обновлено");
                })
                .catch(error => {
                    error.response.data.errors.forEach(err => {
                        this.$validator.errors.add(err);
                    });
                });
        },
        createRule(form) {
            axios.post(`/face/api/rule_network`, form)
                .then(resp => {
                    this.$emit('create', resp.data.data);
                    this.modalActive = false;
                    this.notifySuccess("Правило создано");
                })
                .catch(error => {
                    error.response.data.errors.forEach(err => {
                        this.$validator.errors.add(err);
                    });
                });
        },
        deleteRule(form) {
            if (!confirm("Вы уверены что хотите удалить правило?")) {
                return
            }

            axios.delete(`/face/api/rule_network/${form.id}`)
                .then(resp => {
                    this.$emit('delete', form);
                    this.modalActive = false;
                    this.notifySuccess("Правило удалено");
                })
                .catch(err => this.notifyError(err, "Не удалось удалить правило"));
        },
    }
};
</script>