<template>
    <b-modal :active.sync="modalActive" has-modal-card canCancel>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    {{ user.id ? 'Редактирование пользователя' : 'Создание пользователя' }}
                </p>
            </header>
            <section class="modal-card-body">
                <b-field label="Логин" :type="errors.has('login') ? 'is-danger' : ''" :message="errors.first('login')">
                    <b-input name="login" v-model="form.login" v-validate="'required'" id="input_user_login"></b-input>
                </b-field>
                <b-field label="Роль" :type="errors.has('role') ? 'is-danger' : ''" :message="errors.first('role')">
                    <b-select name="role" v-model="form.role" v-validate="'required'" id="input_user_role">
                        <option value="user">Пользователь</option>
                        <option value="admin">Администратор</option>
                    </b-select>
                </b-field>
                <b-field label="Пароль" :type="errors.has('password') ? 'is-danger' : ''" :message="errors.first('password')">
                    <b-input name="password" type="password" v-model="form.password" id="input_user_password" v-validate=""></b-input>
                </b-field>
                <b-field label="Подверждение пароля" :type="errors.has('password_confirmation') ? 'is-danger' : ''" :message="errors.first('password_confirmation')">
                    <b-input name="password_confirmation" type="password" v-model="form.password_confirmation" id="input_user_password_confirmation"  v-validate=""></b-input>
                </b-field>
            </section>
            <footer class="modal-card-foot is-block">
                <button class="button" @click="modalActive=false" id="btn_user_edit_close">Закрыть</button>
                <button v-if="user.id && user.deleted_at" class="button is-success is-outlined" @click="undeleteUser(form)" id="btn_user_undelete">
                    <b-icon pack="fa" icon="trash-o"></b-icon>
                    <span>Разблокировать</span>
                </button>
                <button v-else-if="user.id" class="button is-danger is-outlined" @click="deleteUser(form)" id="btn_user_delete">
                    <b-icon pack="fa" icon="trash-o"></b-icon>
                    <span>Заблокировать</span>
                </button>
                <button class="button is-primary is-pulled-right" @click="saveUser(form)" :disabled="errors.any()" id="btn_user_save">
                    Сохранить
                </button>
            </footer>
        </div>
    </b-modal>
</template>

<script>
    import axios from 'axios';

    export default {
        $validates: true,
        props: ["active", "user"],
        data() {
            return {
                modalActive: false,
                form: {},
            }
        },
        watch: {
            active: function (val) {
                this.modalActive = val
            },
            modalActive: function (val) {
                this.$emit("update:active", val);
            },
            user(val) {
                this.form = Object.assign({}, val);
            },
        },
        methods: {
            saveUser(form) {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (form.id) {
                            this.updateUser(form);
                        } else {
                            this.createUser(form);
                        }
                        return;
                    }
                });
            },
            updateUser(form) {
                axios.post(`/face/api/user/${ form.id }`, form)
                    .then(resp => {
                        this.$emit('update', resp.data.data);
                        this.modalActive = false;
                        this.notifySuccess("Пользователь сохранен");
                    })
                    .catch(error => {
                        error.response.data.errors.forEach(err => {
                            this.$validator.errors.add(err);
                        });
                    });
            },
            createUser(form) {
                axios.post(`/face/api/user`, form)
                    .then(resp => {
                        this.$emit('create', resp.data.data);
                        this.modalActive = false;
                        this.notifySuccess("Пользователь создан");
                    })
                    .catch(error => {
                        error.response.data.errors.forEach(err => {
                            this.$validator.errors.add(err);
                        });
                    });
            },
            deleteUser(form) {
                if (!confirm("Вы уверены что хотите заблокировать пользователя?")) {
                    return
                }

                axios.delete(`/face/api/user/${form.id}`)
                    .then(resp => {
                        this.$emit('delete', form);
                        this.modalActive = false;
                        this.notifySuccess("Пользователь заблокирован");
                    })
                    .catch(err => this.notifyError(err, "Не удалось заблокировать пользователя"));
            },
            undeleteUser(form) {
                axios.post(`/face/api/user/${form.id}/undelete`)
                    .then(resp => {
                        this.$emit('undelete', form);
                        this.modalActive = false;
                        this.notifySuccess("Пользователь разблокирован");
                    })
                    .catch(err => this.notifyError(err, "Не удалось разблокировать пользователя"));
            },
        },
    };
</script>