<template>
    <div>
        <user-edit
            :user="editableUser"
            :active.sync="userEditOpen"
            @create="loadUsers"
            @update="loadUsers"
            @delete="loadUsers"
            @undelete="loadUsers"
        ></user-edit>

        <h4 class="title is-4">
            <a class="button is-primary is-outlined is-pulled-right" @click="addUser" id="btn_user_add">
                <b-icon pack="mdi" icon="add"></b-icon>
                <span>Добавить</span>
            </a>
            Управление пользователями
        </h4>
        <hr>

        <b-table :data="users" :loading="isLoading" paginated :per-page="100">
            <template scope="props">
                <b-table-column label="Логин">
                    <b-icon pack="fa" icon="user-o"></b-icon>
                    <span class="is-size-5">{{ props.row.login }}</span>
                    <b-tag v-if="props.row.role=='admin'" type="is-success">{{ props.row.role }}</b-tag>
                    <b-tag v-if="props.row.deleted_at" type="is-danger">Удален</b-tag>
                </b-table-column>
                <b-table-column width="1" custom-key="action-edit">
                    <a href="#" class="button is-primary is-small is-inverted" @click.prevent="editUser(props.row)">
                        <b-icon pack="fa" icon="pencil-square-o "></b-icon>
                    </a>
                </b-table-column>
            </template>
        </b-table>
    </div>
</template>

<script>
    import axios from 'axios';
    import UserEdit from './edit.vue';

    export default {
        name: "index.vue",
        components: {
            UserEdit,
        },
        data(){
            return {
                isLoading: false,
                users: [],
                editableUser: {},
                userEditOpen: false,
            }
        },
        mounted() {
            this.loadUsers();
        },
        methods: {
            loadUsers() {
                this.isLoading = true;
                axios.get(`/face/api/user`)
                    .then(resp => {
                        this.users = resp.data.data;
                        this.isLoading = false;
                    })
                    .catch(err => this.notifyError(err, "Не удалось загрузить пользователей"))
            },
            addUser() {
                this.editableUser = {role: "user"};
                this.userEditOpen = true;
            },
            editUser(user) {
                this.editableUser = user;
                this.userEditOpen = true;
            },
        },
    }
</script>
