<template>
<div id="app">
    <top-menu></top-menu>

    <section class="section main">
        <div class="container">
            <router-view></router-view>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <b>ATMStore</b> ATM Software Store &copy; AlfaBank
            <span class="is-pulled-right">v{{ status.version }}</span>
        </div>
    </footer>
</div>
</template>

<script>
import Vue from 'vue'
import topMenu from './top_menu.vue'

export default {
    name: 'app',
    components: {
        topMenu,
    },
    data() {
        return {
            status: {}
        }
    },
    mounted() {
        Vue.axios.get("/face/api/status")
            .then(resp => {
                this.status = resp.data;
            }).catch(err => {
                console.log(err);
            });
    }
};
</script>

<style>
html, body {
    height: 100%;
    font-size: small;
}
.pagination ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.dl-horizontal dd {
    margin-left: 180px;
}
.select:not(.is-multiple):after {
    z-index: 0;
}
</style>
