<template>
<b-modal :active.sync="modalActive" has-modal-card canCancel>
    <div class="modal-card is-small" style="overflow: visible;">
        <header class="modal-card-head">
            <p class="modal-card-title">Вход</p>
        </header>
        <section class="modal-card-body" style="overflow: visible;">
            <b-field label="Логин" :type="errors.has('login') ? 'is-danger' : ''" :message="errors.first('login')">
                <b-input
                    id="input_sign_in_login"
                    v-validate="'required'"
                    v-model.trim="login"
                    name="login"
                    @keyup.native.enter="signIn"
                ></b-input>
            </b-field>
            <b-field label="Пароль" :type="errors.has('password') ? 'is-danger' : ''" :message="errors.first('password')">
                <b-input
                    id="input_sign_in_password"
                    type="password"
                    v-validate="'required'"
                    v-model.trim="password"
                    name="password"
                    @keyup.native.enter="signIn"
                ></b-input>
            </b-field>
        </section>
        <footer class="modal-card-foot is-block">
            <button
                id="btn_sign_in_send"
                class="button is-primary is-pulled-right"
                @click="signIn"
                :disabled="errors.any()"
            >Войти</button>
            <button class="button" @click="modalActive=false" id="btn_sign_in_close">Закрыть</button>
        </footer>
    </div>
</b-modal>
</template>


<script>
import Vue from 'vue'

export default {
    $validates: true,
    data(){
       return {
           login: null,
           password: null,
           currentUser: null,
           modalActive: false,
       }
    },
    mounted() {
        this.loadCurrentUser()
    },
    methods: {
        openSignIn() {
            if (this.currentUser) {
                return false;
            }

            this.modalActive = true;
            return true;
        },
        signIn() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.doSignIn();
                }
            });
        },
        doSignIn() {
            Vue.axios.post("/face/api/session", { login: this.login, password: this.password })
                .then(resp => {
                    this.currentUser = resp.data.data;
                    this.modalActive = false;
                    this.notifySuccess("Вы успешно вошли")
                })
                .catch(err => {
                    if(err.response.status == 403) {
                        this.$validator.errors.add("login", "Неверный логин или пароль");
                        return;
                    }

                    this.notifyError(err, "Не удалось войти")
                })
        },
        signOut() {
            Vue.axios.delete("/face/api/session")
                .then(resp => {
                    this.currentUser = null;
                    this.notifySuccess("Вы успешно вышли")
                })
                .catch(err => this.notifyError(err, "Не удалось выйти"));
        },
        loadCurrentUser() {
            Vue.axios.get("/face/api/current_user")
                .then(resp => {
                    this.currentUser = resp.data.data;
                })
                .catch(err => {
                    this.currentUser = null;
                });
        }
    },
};
</script>