<template>
<div class="is-size-5">
    <nav class="navbar is-danger">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/face"><h4 class="title is-4 has-text-white-bis">ATMStore</h4></a>
                <button class="button navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <router-link class="navbar-link" active-class="is-active" to="/face/strategy/">Стратегии</router-link>
                        <div class="navbar-dropdown is-size-6">
                            <router-link class="navbar-item" active-class="is-active" to="/face/strategy/release">Релиз</router-link>
                            <router-link class="navbar-item" active-class="is-active" to="/face/strategy/network">Подсеть</router-link>
                            <router-link class="navbar-item" active-class="is-active" to="/face/strategy/atm">Серийный номер</router-link>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <router-link class="navbar-link" active-class="is-active" to="/face/component/">Компоненты</router-link>
                        <div class="navbar-dropdown is-size-6">
                            <router-link class="navbar-item" active-class="is-active" to="/face/component/build">Сборки</router-link>
                        </div>
                    </div>
                    <router-link v-if="isAdmin()" class="navbar-item" active-class="is-active" to="/face/users/">Пользователи</router-link>
                </div>
                <div class="navbar-end">
                    <template v-if="currentUser()">
                        <div class="navbar-item">{{ currentUser().login }}</div>
                        <div class="navbar-item">
                            <button class="button is-info is-inverted is-outlined" @click="signOut" id="btn_sign_out">
                                <b-icon pack="fa" icon="user"></b-icon>
                                <span>Выйти</span>
                            </button>
                        </div>
                    </template>
                    <a v-else class="navbar-item" href="#" @click="signIn" id="link_sign_in">
                        <b-icon pack="fa" icon="user"></b-icon>&nbsp;
                        Войти
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <router-view name="submenu"></router-view>
</div>
</template>

<script>
export default {
    methods: {
        isAdmin() {
            return this.currentUser() && this.currentUser().role == 'admin';
        },

    }
};
</script>